{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent()  }}
    <link href="{{ asset('assets/css/Hub.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/Subjects.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Courses {% endblock %}
{% block body %}
    {% block header %} {{ parent() }}
        {% block errors %} {% endblock %}
    {% endblock %}

    <div class="card_1">
        <div class="header">
            <div class="img-box">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="rgba(66,193,110,1)" d="M20.083 15.2l1.202.721a.5.5 0 0 1 0 .858l-8.77 5.262a1 1 0 0 1-1.03 0l-8.77-5.262a.5.5 0 0 1 0-.858l1.202-.721L12 20.05l8.083-4.85zm0-4.7l1.202.721a.5.5 0 0 1 0 .858L12 17.65l-9.285-5.571a.5.5 0 0 1 0-.858l1.202-.721L12 15.35l8.083-4.85zm-7.569-9.191l8.771 5.262a.5.5 0 0 1 0 .858L12 13 2.715 7.429a.5.5 0 0 1 0-.858l8.77-5.262a1 1 0 0 1 1.03 0zM12 3.332L5.887 7 12 10.668 18.113 7 12 3.332z"></path>
                </svg>
            </div>
            <h1 class="title">Analyse</h1>
        </div>

        <div class="content">
            <details class="details-example">
                <summary>Exams</summary>
                <ul>
                    <li>exam 1</li>
                    <li>exam 2</li>
                    <li>exam 3</li>
                </ul>
            </details>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <details class="details-example">
                <summary>TDs</summary>
                <ul>
                    <li>TD 1</li>
                    <li>TD 2</li>
                    <li>TD 3</li>
                </ul>
                </details>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <details class="details-example">
                <summary>Cours</summary>
                <ul>
                    <li>Cours 1</li>
                    <li>Cours 2</li>
                    <li>Cours 3</li>
                </ul>
            </details>
        </div>
    </div>

    <div class="card_2">
        <div class="header">
            <div class="img-box">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="rgba(66,193,110,1)" d="M20.083 15.2l1.202.721a.5.5 0 0 1 0 .858l-8.77 5.262a1 1 0 0 1-1.03 0l-8.77-5.262a.5.5 0 0 1 0-.858l1.202-.721L12 20.05l8.083-4.85zm0-4.7l1.202.721a.5.5 0 0 1 0 .858L12 17.65l-9.285-5.571a.5.5 0 0 1 0-.858l1.202-.721L12 15.35l8.083-4.85zm-7.569-9.191l8.771 5.262a.5.5 0 0 1 0 .858L12 13 2.715 7.429a.5.5 0 0 1 0-.858l8.77-5.262a1 1 0 0 1 1.03 0zM12 3.332L5.887 7 12 10.668 18.113 7 12 3.332z"></path>
                </svg>
            </div>
            <h1 class="title">ALGEBRE</h1>
        </div>

        <div class="content">
            <details class="details-example">
                <summary>Exams</summary>
                <ul>
                    <li>exam 1</li>
                    <li>exam 2</li>
                    <li>exam 3</li>
                </ul>
            </details>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <details class="details-example">
                <summary>TDs</summary>
                <ul>
                    <li>TD 1</li>
                    <li>TD 2</li>
                    <li>TD 3</li>
                </ul>
            </details>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <p>&nbsp</p>
            <details class="details-example">
                <summary>Cours</summary>
                <ul>
                    <li>Cours 1</li>
                    <li>Cours 2</li>
                    <li>Cours 3</li>
                </ul>
            </details>
        </div>
    </div>
{% endblock %}