{% extends "base.html.twig" %}
{% block head %}{{
    parent()
    }} {% endblock head %}
{% block body %}
<section class="section main-banner" id="top" data-section="section1">
    <img
            class="imgv3"
            src="{{ asset('assets/images/background.jpg') }}"
            alt="INSAT 2.0"
    />
    {%  block header %} {{ parent() }}
        {% block errors %} {{ parent() }} {% endblock %}
    {% endblock %}

        <div class="caption">
            <h2><em>Your</em> Guide</h2>
            <div class="main-button">
                <div class="scroll-to-section">
                    <a href="#section2">Discover more</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}

