/* Registration Form */
#registration {
    background-color: #f5f5f5;
    padding: 80px 0;
  }
  
  #registration h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  #registration form {
    margin-top: 30px;
  }
  
  #registration label {
    font-weight: bold;
  }
  
  #registration .form-control {
    border-radius: 0;
  }
  
  #registration button {
    margin-top: 20px;
  }
  