
{% extends "base.html.twig" %}
{% block stylesheets %}
    {{  parent()}}

{% endblock %}
{% block title %}Hello ProfileController!{% endblock %}
{% block body %}
    {%  block header %} {{ parent() }}
        {% block errors %} {% endblock %}
    {% endblock %}
    <section class="py-5 my-5">
        <div class="container">
            <h1>List of Users</h1>
                <label for="username">Username:</label>
                <input type="text" id="searchUserName" name="username">
                <button type="submit" id="searchButton">Search</button>


            <div id="user-list"></div>

        </div>
    </section>
    <script src="{{  asset('assets/js/searchProfileByUsername.js')}}" type="text/javascript"></script>
{% endblock %}