
{% extends "base.html.twig" %}

{% block title %}Add New Subject!{% endblock %}
{% block body %}
    {%  block header %} {{ parent() }}
        {% block errors %} {% endblock %}
    {% endblock %}


<section class="py-5 my-5" style="color:white; background-image: url({{ asset('assets/images/choosing-bg.jpg') }}); ">
    <div class="container">
        <form action="{{ path('app_add_matiere') }}" method="post">
            <div class="mb-3">
                <label for="SubjectTitle" class="form-label">Title</label>
                <input class="form-control" type="text" placeholder="Subject Title" aria-label="Title" id="SubjectTitle">
            </div>

            <button type="submit" class="btn btn-dark">Submit</button>
        <form>

    </div>
</section>
{% endblock %}
