.submitbutton {
  display: inline-block;
  line-height: 18px;
  margin-left: 15px;
  position: relative;
}

.title{
  line-height: 0.8;
  font-size : 100px;
  font-weight: 800;
  width: 1000px;
}
.important{
  line-height: 0.8;
  font-size : 70px;
  left: 20%;
  color: #1f1f42;
  font-weight: 700;
}
.content{
  line-height: 1.5;
  color: white;
  font-size: x-large;
}


.caption h2 {

  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;

}

.caption h2 em {
  font-style: normal;
  color: #f52525;
  font-weight: 900;
  line-height: 1.5;
}
 .figure {
   width: 500px;
   height: 300px;
   border-radius: 10px;
   z-index: 6;
   background-image: url('http://127.0.0.1:8000/assets/images/th%20(1).jpg');
   background-size: cover;
   background-repeat: no-repeat;
   border: 2px solid #000; /* Set the border style */
 }
.col-1:hover ,.col-2:hover {
  font-size: 102%;
  color:#e12a2a;
}
