.imgv2 {
    width: 35%;
    height: auto;
    max-width: 50%;
    max-height: 35%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.imgv3 {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 33%;
    display: block;
    margin: 0 auto;
}
.alert {
    width:40%;
}
#wrapper{
    background:red;
    overflow:auto;
}

#c1{
    float:left;
    background:blue;
}

#c2 {
    background: green;
    float: right;
}
