.column {
    float: left;
    width: 35%;
    position: absolute;
    top: 20%;
    right: 63%;
}
.column2 {
    float: left;
    width: 35%;
    height: 400px;
    position: absolute;
    top: 20%;
    right: 26%;
}
.column3 {
    float: left;
    width: 25%;
    height: 400px;
    position: absolute;
    top: 20%;
    right: 0%;

}




.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.card {
    box-sizing: border-box;
    width: 450px;
    height: 100px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

button {
    position: absolute;
    left: 60%;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

button, button span {
    transition: 200ms;
}

button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button svg {
    width: 15px;
    fill: #eee;
}

button:hover {
    background: #ff3636;
}

button:hover .text {
    color: transparent;
}

button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

button:focus {
    outline: none;
}

button:active .icon svg {
    transform: scale(0.8);
}

.course {
    position: relative;
    right: 40%;
}


.cssbuttons-io-button {
    position: absolute;
    left: 70%;
    top: 37%;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button svg {
    margin-right: 6px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.forum {
    position: absolute;
    left: 10%;

}

.input {
    position: absolute;
    top:60%;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
    -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.card2 {
    box-sizing: border-box;
    width: 450px;
    height: 200px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card2:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card2:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.qst {
    position: absolute;
    left: 10%;
    top: 10%;
}

.card3 {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card3:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card3:active {
    transform: scale(0.95) rotateZ(1.7deg);
}