@import url("https://fonts.googleapis.com/css?family=Oleo+Script");
@import url("https://fonts.googleapis.com/css?family=Teko:400,700");

/*Contact sectiom*/
.content-header {
        font-family: "Oleo Script", cursive;
        color: #fcc500;
        font-size: 45px;
}

.section-content {
        text-align: center;
}
#contact {
        /* font-family: "Teko", sans-serif; */
        padding-top: 60px;
        width: 100%;
        width: 100vw;
        height: 550px;
        /* background: #3a6186; fallback for old browsers */
        /* background: -webkit-linear-gradient(
                to left,
                #3a6186,
                #89253e
        ); /* Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(
                to left,
                #3a6186,
                #89253e
        ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #000;
}

.submit {
    font-family: "Teko", sans-serif; 
}
.contact-section {
        padding-top: 40px;
}
.contact-section .col-md-6 {
        width: 50%;
}

.form-line {
        border-right: 1px solid #b29999;
}

.form-group {
        margin-top: 10px;
}
label {
        font-size: 1.3em;
        line-height: 1em;
        font-weight: normal;
}
.form-control {
        font-size: 1.3em;
        color: #080808;
}
textarea.form-control {
        height: 135px;
        /* margin-top: px;*/
}

.submit {
        font-size: 1.1em;
        float: right;
        width: 150px;
        background-color: transparent;
        color: #fff;
}

body {
        height: 100vh;
        background: linear-gradient(90deg,#AFD3E2, #146C94 );
}

.slider-thumb::before {
        position: absolute;
        content: "";
        left: 3%;
        top: 20%;
        width: 450px;
        height: 650px;
        background: #146C94;
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        will-change: border-radius, transform, opacity;
        animation: sliderShape 5s linear infinite;
        display: block;
        z-index: -1;
        -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape {
        0%,
        100% {
                border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
                transform: translate3d(0, 0, 0) rotateZ(0.01deg);
        }
        34% {
                border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
                transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
        }
        50% {
                transform: translate3d(0, 0, 0) rotateZ(0.01deg);
        }
        67% {
                border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
                transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
        }
}
