{% extends 'base.html.twig' %}
{% block title %}Terms of Agreement{% endblock %}

{% block body %}

    {%  block header %} {{ parent() }}
        {% block errors %} {% endblock %}
    {% endblock %}

    <section class="section main-banner" id="top" data-section="section1" style="color:white">
        <img class="imgv3" src="{{ asset('assets/images/choosing-bg.jpg') }}" alt="INSAT 2.0" />
        <section class="section coming-soon caption" data-section="section3">
            <div class="col-md-12 mt-5">
                <div class="middle-content">
                    <h1>Terms of Agreement</h1>
                    <p>Welcome to INSTUDY, an educational platform for students and professors at INSAT University.</p>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="ml-5" style="text-align: left">
                    <p>By using INSTUDY, you agree to the following terms and conditions:</p>
                    <ul class="mx-5">
                        <li><t/>⦿ You must be a current student or professor at INSAT University to use INSTUDY.</li>
                        <li>⦿ You must use INSTUDY for educational purposes only.</li>
                        <li>⦿ You must not share your login credentials with anyone.</li>
                        <li>⦿ You must not use INSTUDY to engage in any illegal activities.</li>
                        <li>⦿ You must not attempt to access or modify the system beyond your authorized access level.</li>
                        <br>
                        <li>⦿ INSTUDY reserves the right to terminate your account at any time for violation of these terms and conditions.</li>
                        <li>⦿ INSTUDY reserves the right to modify these terms and conditions at any time without prior notice.</li>
                    </ul>
                    <br>
                    <p>
                        If you have any questions or concerns regarding these terms and conditions, please contact us at
                        <a href="{{path('app_contact')}}">contact</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="container">

        </div>
    </section>
    </html>
{% endblock %}
